*,
::before,
::after {
  @apply box-border;
}

:root {
  --font-base: ui-sans-serif, system-ui, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  color-scheme: var(--mantine-color-scheme);
}

html,
body {
  font-family: var(--font-base);
}

html[data-mantine-color-scheme="dark"] body {
  @apply bg-[#1c1c1e];
}

html[data-mantine-color-scheme="light"] body {
  @apply bg-[#f2f7ff];
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  @apply m-0;
}